<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="UTF-8" />

  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <link rel="stylesheet" href="styles.css" />

  <title>Darkest Monster - by Piña</title>
  <link rel="icon" type="image/png" sizes="32x32" href="img/icons/favicon-32x32.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="img/icons/apple-touch-icon.png" />

  <link rel="manifest" href="manifest.json" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta name="apple-mobile-web-app-status-bar" content="#000" />
  <meta name="theme-color" content="#000" />
  <meta name="description" content="A Darkest Dungeon boardgame companion app to draw monsters." />
</head>

<body>
  <div id="app">
    <main :style="{ '--unit': `${this.zoom}vh` }">
      <div class="zoom">
        <button @click="zoom > .39 ? zoom -= .1 : null" class="zoom-out"></button>
        <button @click="zoom < 1.41 ? zoom += .1 : null" class="zoom-in"></button>
      </div>

      <div class="enemies">
        <div v-for="(monster, index) in monsters" class="enemy" :class="{large: allMonsters[monster.name].large}">
          <div class="card" :style="monsterCard(index)">
            <div class="conditions">
              <div
                v-for="(item, i) in monster.conditions"
                class="stack"
                @click="removeCondition(i)"
                :style="{ height: `${5 + item.turns}vh`}"
              >
                <div v-for="_ in item.turns" class="condition" :style="conditionCard(item.condition)"></div>
              </div>
            </div>
          </div>

          <div class="info">
            <div class="actions">
              <button class="text-button" @click="kill(index)">Remove Monster</button>
              <button class="text-button" @click="editingConditions = index + 1">Edit Conditions</button>
              <button class="text-button" @click="startTurn(index)">Start Turn</button>
            </div>
            <div class="life">
              <div>
                <button @click="wound(index, -5)" class="wounds wound-bulk">-5</button>
                <button @click="wound(index, -10)" class="wounds wound-bulk">-10</button>
              </div>
              <div class="wounds dual-buttons">
                <button @click="wound(index, -1)"></button>
                <span>{{ monster.wounds }}</span>
                <button @click="wound(index, 1)"></button>
              </div>
              <div>
                <button @click="wound(index, 5)" class="wounds wound-bulk">+5</button>
                <button @click="wound(index, 10)" class="wounds wound-bulk">+10</button>
              </div>
            </div>
          </div>
        </div>

        <div v-for="_ in fillers" class="enemy"></div>
      </div>

      <div class="deck">
        <button class="text-button" @click="editingDeck = true">Edit Deck</button>
        <button class="text-button" @click="enterRoom()">Enter Room</button>
        <button class="text-button" @click="spawning = true">Spawn Monster</button>
        <button class="text-button" @click="spawningBoss = true">Spawn Boss</button>
      </div>

      <div class="music">
        <span class="text">
          Music:
          <select id="select-music" v-model="music">
            <option v-for="song in Object.keys(videos)" :value="song">{{song}}</option>
          </select>
        </span>
        <div>
          <iframe
            :src="`https://www.youtube.com/embed/${videoId}?playlist=${videoId}&loop=1&autoplay=1&controls=0&disablekb=1&fs=0`"
            frameborder="0"
            allow="autoplay"
            referrerpolicy="strict-origin-when-cross-origin"
          ></iframe>
        </div>
      </div>
    </main>

    <section class="overlay" v-if="opened" @click.self="closeModal()" :style="{ '--unit': `${this.zoom}vh` }">
      <div class="modal">
        <button class="close-modal" @click="closeModal()">X</button>

        <template v-if="editingConditions">
          <div class="text">Add Condition</div>
          <div class="modal-buttons">
            <template v-for="item in conditions">
              <input type="radio" :id="item" :value="item" v-model="condition" />
              <label :for="item" class="radio-label condition" :style="conditionCard(item)"> </label>
            </template>

            <input type="radio" id="push" value="push" v-model="condition" />
            <label for="push" class="radio-label condition">push</label>
            <input type="radio" id="pull" value="pull" v-model="condition" />
            <label for="pull" class="radio-label condition">pull</label>
          </div>

          <div class="text">Select Turns</div>
          <div class="modal-buttons">
            <template v-for="item in 6">
              <input type="radio" :id="item" :value="item" v-model="turns" />
              <label :for="item" class="radio-label condition"> {{item}} </label>
            </template>
          </div>

          <button class="text-button" @click="addCondition()">Add</button>

          <div class="text modal-buttons">
            <hr />
            <span>Current conditions</span>
            <hr />
          </div>

          <div class="text">Click a stack to remove it</div>

          <div class="modal-buttons">
            <button
              v-for="(item, i) in monsters[editingConditions - 1].conditions"
              class="stack"
              @click="removeCondition(i)"
              :style="{ height: `${5 + item.turns}vh`}"
            >
              <div v-for="_ in item.turns" class="condition" :style="conditionCard(item.condition)"></div>
            </button>
          </div>
          <button class="text-button" @click="clearConditions()">Clear all conditions</button>
        </template>

        <template v-else-if="spawning">
          <div class="text">Spawn a monster</div>

          <div class="modal-buttons">
            <span class="text">Area: </span>
            <select id="select-zone" v-model="zone">
              <option value="" disabled hidden>Select</option>
              <option v-for="item in zonePool" :value="item">{{format(item)}}</option>
            </select>

            <span class="text"> Act:</span>
            <select id="select-act" v-model="act" :disabled="zone == 'darkest_dungeon'">
              <option value="0" disabled hidden>Select</option>
              <option v-for="item in 3" :value="item">{{item}}</option>
            </select>
          </div>
          <div class="modal-buttons">
            <span class="text">Monster: </span>
            <select id="select-monster" v-model="monster">
              <option value="" disabled hidden>Select</option>
              <option v-for="name in zoneMonsters" :value="name">{{format(name)}}</option>
            </select>
          </div>

          <button class="text-button" @click="spawn()" :disabled="monster == ''">Spawn</button>

          <div class="text modal-buttons">
            <hr />
            <span>OR</span>
            <hr />
          </div>

          <button class="text-button" @click="spawn()">Spawn a Random Monster</button>
        </template>

        <template v-else-if="spawningBoss">
          <div class="text">Spawn a boss</div>

          <div class="modal-buttons">
            <span class="text">Area:</span>
            <select id="select-zone" v-model="zone">
              <option value="" disabled hidden>Select</option>
              <option v-for="item in zonePool" :value="item">{{format(item)}}</option>
            </select>

            <span class="text"> Act:</span>
            <select id="select-act" v-model="act" :disabled="zone == 'darkest_dungeon'">
              <option value="0" disabled hidden>Select</option>
              <option v-for="item in 3" :value="item">{{item}}</option>
            </select>
          </div>

          <div class="modal-buttons">
            <span class="text">Boss:</span>
            <select id="select-monster" v-model="monster">
              <option value="" disabled hidden>Select</option>
              <option v-for="name in zoneBosses" :value="name">{{formatBoss(name)}}</option>
            </select>
          </div>

          <button class="text-button" @click="spawnBoss()" :disabled="monster == ''">Spawn</button>
        </template>

        <template v-else-if="editingDeck">
          <div class="text">Set up an area deck</div>
          <div class="modal-buttons">
            <span class="text">Area: </span>
            <select id="select-zone" v-model="zone">
              <option value="" disabled hidden>Select</option>
              <option v-for="item in zonePool" :value="item">{{format(item)}}</option>
            </select>

            <span class="text">Act: </span>
            <select id="select-act" v-model="act">
              <option value="0" disabled hidden>Select</option>
              <option v-for="item in 3" :value="item">{{item}}</option>
            </select>

            <button class="text-button" @click="setUp()" :disabled="act == 0 && zone != 'darkest_dungeon'">
              Confirm
            </button>
          </div>

          <div class="text modal-buttons">
            <hr />
            <span>OR</span>
            <hr />
          </div>

          <div class="text">Edit your deck</div>

          <div class="monsters">
            <table class="text">
              <tr>
                <th></th>
                <th>Monster</th>
                <th>Copies</th>
                <th>Spawned</th>
                <th></th>
              </tr>
              <tr v-for="(item, index) in deck" class="monster small-text">
                <td>
                  <img :src="`img/banners/${ allMonsters[item.name].zone }.webp`" />
                </td>

                <td>{{ format(item.name) }} {{ "I".repeat(allMonsters[item.name].level || 0) }}</td>

                <td>
                  <select :id="item.name + '-copies'" v-model="item.copies">
                    <option v-for="x in 3" :value="x">{{x}}</option>
                  </select>
                </td>

                <td>
                  <select :id="item.name + '-spawned'" v-model="item.spawned">
                    <option v-for="x in (item.copies + 1)" :value="x-1">{{x - 1}}</option>
                  </select>
                </td>

                <td>
                  <button @click="remove(index)" class="delete"></button>
                </td>
              </tr>

              <tr>
                <td colspan="2">
                  <select id="select-monster" v-model="monster">
                    <option value="" disabled hidden>Select Monster</option>
                    <optgroup v-for="(value, key) in zones" :label="format(key)">
                      <option v-for="(_, name) in value" :value="name">{{format(name)}}</option>
                    </optgroup>
                  </select>
                </td>
                <td>
                  <select id="select-monster" v-model="copies">
                    <option value="0" disabled hidden>Copies</option>
                    <option v-for="item in 3" :value="item">{{item}}</option>
                  </select>
                </td>
                <td colspan="2"><button class="text-button" @click="addToDeck()">+ Add</button></td>
              </tr>
            </table>
          </div>

          <div class="modal-buttons">
            <button class="text-button" @click="removeLevel1()">Remove one of each level I</button>
            <button class="text-button" @click="resetDeck()">Reset Spawned</button>
          </div>
          <button class="text-button" @click="closeModal()">Done</button>
        </template>
      </div>
    </section>
  </div>

  <script src="constants/common.js"></script>
  <script src="constants/ruins.js"></script>
  <script src="constants/courtyard.js"></script>
  <script src="constants/cove.js"></script>
  <script src="constants/warrens.js"></script>
  <script src="constants/darkest.js"></script>
  <script src="constants/bosses.js"></script>
  <script src="constants/constants.js"></script>
  <script src="app.js"></script>
</body>
