body,
html {
  margin: 0;
  padding: 0;
  font-family: serif;
  background-color: #0b0704;
  color: #fedfae;
  overflow: auto;
}
* {
  box-sizing: border-box;
  outline: none;
}

/* ------------ forms ------------ */
button,
label {
  width: calc(5 * var(--unit));
  height: calc(5 * var(--unit));
  border: 1px solid #fff2;
  border-radius: calc(3 * var(--unit));
  padding: 0;
  background-color: #0b0704;

  font-family: serif;
  font-size: calc(2.5 * var(--unit));
  color: #fedfae;

  touch-action: manipulation;
  cursor: pointer;
}
button {
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
}
button[disabled] {
  color: #969696;
  background-color: #17120e !important;
  cursor: not-allowed;
}

.text-button {
  height: calc(4 * var(--unit));
  padding: 0 calc(2 * var(--unit));
  width: auto;
}

select {
  border: 1px solid #fff2;
  border-radius: calc(2 * var(--unit));
  padding: 0 calc(1 * var(--unit));

  font-family: serif;
  font-size: calc(2.5 * var(--unit));
  touch-action: manipulation;
  cursor: pointer;
}
select[disabled] {
  cursor: not-allowed;
}

.dual-buttons {
  position: relative;
}
.dual-buttons button {
  position: absolute;
  margin: 0;
  background: #fff1;
  height: 100%;
  width: 50%;
}
.dual-buttons button:first-child {
  left: 0;
  right: 50%;
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
}
.dual-buttons button:last-child {
  left: 50%;
  right: 0;
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
}

/* hover states */
@media (hover: hover) {
  button:hover,
  .text-button:hover,
  .radio-label:hover {
    background-color: #312b26;
  }

  .dual-buttons button:hover,
  .dual-buttons button:hover {
    background-color: #fff4;
  }
}

/* ------------ main ------------ */
main {
  height: calc(100 * var(--unit));
  width: calc(174 * var(--unit));
  background-image: url(img/board.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}
main > * {
  position: absolute;
}

/* ------------ config buttons ------------ */
.zoom {
  display: flex;
  top: 1%;
  left: 1%;
}
.zoom-out {
  background-image: url(img/icons/zoom_out.svg);
}
.zoom-in {
  background-image: url(img/icons/zoom_in.svg);
  margin-left: calc(1 * var(--unit));
}

/* ------------ enemies ------------ */
.enemies {
  top: 7%;
  left: 4.7%;
  height: 80%;
  width: 69.8%;
  display: flex;
}
.enemy {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: relative;
}
.enemy:not(:last-child) {
  margin-right: 0.4%;
}

.card {
  flex: 0 0 63.9%;
  width: 100%;
  margin-top: var(--unit);
  border-radius: var(--unit);
  background-repeat: no-repeat;
  position: relative;
}
.playing {
  box-shadow: 0 0 calc(0.5 * var(--unit)) calc(0.5 * var(--unit)) darkred;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 calc(0.5 * var(--unit)) calc(0.5 * var(--unit)) darkred;
  }
  50% {
    box-shadow: 0 0 calc(0.5 * var(--unit)) calc(-0.5 * var(--unit)) darkred;
  }
  100% {
    box-shadow: 0 0 calc(0.5 * var(--unit)) calc(0.5 * var(--unit)) darkred;
  }
}
.card:hover .conditions {
  display: none;
}
.card .actions {
  position: absolute;
  bottom: 0;
  left: 1%;
  font-size: calc(4 * var(--unit));
}
.stunned {
  position: absolute;
  bottom: 2%;
  height: 12%;
  left: 4%;
  right: 4%;
  background: #000a;
  border-radius: var(--unit);
  display: flex;
  align-items: center;
  justify-content: center;
}

.conditions {
  display: flex;
  flex-wrap: wrap;
}
.stack {
  width: calc(7 * var(--unit));
  height: calc(10 * var(--unit));
  position: relative;
}
.stack .condition {
  position: absolute;
  top: 0;
}
.stack .condition:nth-child(2) {
  top: calc(1 * var(--unit));
}
.stack .condition:nth-child(3) {
  top: calc(2 * var(--unit));
}
.stack .condition:nth-child(4) {
  top: calc(3 * var(--unit));
}
.stack .condition:nth-child(5) {
  top: calc(4 * var(--unit));
}
.stack .condition:nth-child(6) {
  top: calc(5 * var(--unit));
}
.condition {
  width: calc(6 * var(--unit));
  height: calc(6 * var(--unit));
  border-radius: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  border: 1px solid darkred;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.actions {
  display: flex;
  flex-direction: column;
}
.actions button {
  margin-top: var(--unit);
}
.life {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--unit);
}
.life > *:not(:first-child) {
  margin-left: calc(1 * var(--unit));
}

.wounds {
  width: calc(11 * var(--unit));
  height: calc(11 * var(--unit));
  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  font-size: calc(4 * var(--unit));

  background-image: url(img/tokens/wounds.webp);
  background-repeat: no-repeat;
  background-size: 100%;
}
.wound-bulk {
  width: calc(6 * var(--unit));
  height: calc(6 * var(--unit));

  font-size: calc(2.5 * var(--unit));
  border: calc(0.3 * var(--unit)) solid #a81b52;
  background-image: none;
}
.wound-bulk + .wound-bulk {
  margin-top: var(--unit);
}

/* ------------ large monsters ------------ */
.large {
  flex: 2.02;
}
.large .card {
  flex: 0 0 75%;
}
.large .info {
  flex-direction: row;
  justify-content: space-around;
  align-self: stretch;
}
.large .conditions {
  margin-left: 30%;
}

/* ------------ deck ------------ */
.deck {
  top: 36%;
  left: 78%;
  height: 51%;
  width: 17.2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.deck div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.deck button {
  margin-bottom: var(--unit);
}
.deck .danger {
  background: darkred;
  border-radius: calc(2 * var(--unit));
  animation-name: danger;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes danger {
  0% {
    background: darkred;
  }
  50% {
    background: transparent;
  }
  100% {
    background: darkred;
  }
}

/* ------------ music ------------ */
.music {
  top: 4%;
  right: 1%;
  height: 29%;
  width: 23%;
  display: flex;
  flex-direction: column;
}
.music div {
  flex: 1;
  margin-top: var(--unit);
  height: 0;
}
.music iframe {
  width: 100%;
  height: 100%;
}

.translations {
  bottom: 0;
  width: 80%;
  background: #0008;
  display: flex;
  justify-content: center;
  font-size: calc(2 * var(--unit));
  text-align: center;
}
.translations > div {
  margin: 0 calc(2 * var(--unit));
}
.translations span {
  color: white;
}

/* ------------ overlay ------------ */
.overlay {
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0008;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #0b0704;
  position: relative;
  padding: calc(2 * var(--unit));
  border-radius: calc(2 * var(--unit));
  margin: calc(1 * var(--unit));
  min-width: 30%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal > *:not(:last-child) {
  margin-bottom: calc(1 * var(--unit));
}

.close-modal {
  z-index: 1;
  position: absolute;
  top: calc(1 * var(--unit));
  right: calc(1 * var(--unit));
  width: calc(3 * var(--unit));
  height: calc(3 * var(--unit));
  background: #0b0704;
  font-family: sans-serif;
  border: 0;
}

.text {
  font-size: calc(2.5 * var(--unit));
}
.modal .text {
  text-align: center;
  font-size: calc(2.5 * var(--unit));
  align-self: center;
}
hr {
  flex: 1;
  margin-top: 0;
  align-self: center;
}

.modal-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  width: 90vw;
  max-width: calc(65 * var(--unit));
  margin-left: calc(-1 * var(--unit));
}
.modal-buttons > * {
  margin-left: calc(1 * var(--unit));
  margin-bottom: calc(1 * var(--unit));
}

input[type='radio'] {
  display: none;
}
.radio-label {
  height: calc(4 * var(--unit));
  border-radius: calc(2 * var(--unit));
  padding: calc(1 * var(--unit));

  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(2.5 * var(--unit));
}
input[type='radio']:checked + label {
  border-color: darkred;
  box-shadow: 0 0 calc(0.5 * var(--unit)) calc(0.5 * var(--unit)) darkred;
}
.modal button + button {
  margin-left: calc(1 * var(--unit));
}

.modal .condition {
  width: calc(6 * var(--unit));
  height: calc(6 * var(--unit));
  border-radius: 100%;
  border: 1px solid #fff2;
}
.modal button.stack {
  width: calc(6 * var(--unit));
  height: calc(11 * var(--unit));
  background-color: transparent;
  border-radius: calc(3 * var(--unit));
  overflow: hidden;
  border: 0;
}

.add-monster {
  display: flex;
  align-items: center;
}
.add-monster > *:not(:last-child) {
  margin-right: calc(1 * var(--unit));
}

.monsters {
  max-height: calc(50 * var(--unit));
  overflow: hidden auto;
  width: 100%;
}
table {
  border-spacing: 0;
  border: 0;
  width: 100%;
}
th {
  position: sticky;
  top: 0;
  background-color: #312b26;
  border-bottom: 1px solid #fedfae;
}
td,
th {
  padding: calc(0.2 * var(--unit)) calc(1 * var(--unit));
  text-align: left;
}
td img {
  width: calc(2 * var(--unit));
}
td select {
  width: 100%;
  text-align: center;
}
td .delete {
  width: calc(4 * var(--unit));
  height: calc(4 * var(--unit));
  background-image: url(img/icons/delete.svg);
}

.focused {
  flex: unset;
  height: calc(95 * var(--unit));
  width: calc(55.4 * var(--unit));
  margin: calc(-3 * var(--unit));
  box-shadow: 0 0 15px 2px darkred;
}
.large.focused {
  width: calc(95 * var(--unit));
}
